<div id="header">
	<div class="grad">
	</div>
	<div id="header-right">
	</div>
	<div id="header-left">
		<div id="header-label">
			<div class="container-fluid">
				<div id="context-label">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Dashboard
				</div>
			</div>
		</div>
		<div id="nav">
			<div class="container-fluid">
				<% if(type=="advisor"){ %>
				<a href="javascript:;" >
					<div class="nav-item"  data-page="students">
						<div class="nav-text">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Students Info
						</div>

					</div>
				</a>
				<% } %>
			</div>
		</div>
	</div>
</div>
<div id="header-padder"></div>
<script>
</script>