<div class="container-fluid">
    <div id="ownerinfo-header" class="row">
        <div class="col-lg-8">
            <div class="input-group">
            <input type="text" class="form-control" id="searchTxt" placeholder="Search by SID">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick='search()'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <div id="ownerinfo-table">
        <table class="table table-striped">
            <tr>
                <td>SID</td>
                <td>Firstname</td>
                <td>Surname</td>
                <td>Score</td>
            </tr>   
            <%rowData.map(function(ele){ %>
            <tr>
                <%ele.map(function(item,idx){%>
                <td>
                    <% if(idx==0){ %>
                    <a class="sid">
                    <% } %>
                    <%=item%>
                    <% if(idx==0){ %>
                    </a>
                    <% } %>
                </td>
                <%})%>
            </tr>
            <%})%>
        </table>
    </div>
</div>
<script>
    function search(){
        console.log("...");
        loadPage("searchReduced?sid=" + $("#searchTxt").val());
    }
    $('.sid').click(function(e){
        loadPage('student');
    });
</script>